<h1>Listing events</h1>

<table>
  <tr>
    <th>Evdate</th>
    <th>Evhostreg</th>
    <th>Evname</th>
    <th>Evtype</th>
    <th>Evtrack</th>
    <th>Evchief</th>
    <th>Cash</th>
    <th>Food</th>
    <th>Hotel</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.evdate %></td>
    <td><%= event.evhostreg %></td>
    <td><%= event.evname %></td>
    <td><%= event.evtype %></td>
    <td><%= event.evtrack %></td>
    <td><%= event.evchief %></td>
    <td><%= event.cash %></td>
    <td><%= event.food %></td>
    <td><%= event.hotel %></td>
    <td><%= event.image %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
