<p id="notice"><%= notice %></p>

<p>
  <b>Evdate:</b>
  <%= @event.evdate %>
</p>

<p>
  <b>Evhostreg:</b>
  <%= @event.evhostreg %>
</p>

<p>
  <b>Evname:</b>
  <%= @event.evname %>
</p>

<p>
  <b>Evtype:</b>
  <%= @event.evtype %>
</p>

<p>
  <b>Evtrack:</b>
  <%= @event.evtrack %>
</p>

<p>
  <b>Evchief:</b>
  <%= @event.evchief %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
