<p id="notice"><%= notice %></p>

<p>
  <b>Evdate:</b>
  <%= @event.evdate %>
</p>

<p>
  <b>Evhostreg:</b>
  <%= @event.evhostreg %>
</p>

<p>
  <b>Evname:</b>
  <%= @event.evname %>
</p>

<p>
  <b>Evtype:</b>
  <%= @event.evtype %>
</p>

<p>
  <b>Evtrack:</b>
  <%= @event.evtrack %>
</p>

<p>
  <b>Evchief:</b>
  <%= @event.evchief %>
</p>

<p>
  <b>Cash:</b>
  <%= @event.cash %>
</p>

<p>
  <b>Food:</b>
  <%= @event.food %>
</p>

<p>
  <b>Hotel:</b>
  <%= @event.hotel %>
</p>

<p>
  <b>Image:</b>
  <%= @event.image %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
