<section id="nextup">
	<p>
		<span id="weather"><a href="<%= @weather_page %>" onclick="window.open(this.href, 'new_window_name','height=230,width=530');return false;">
		<%= image_tag('sun_therm.png', {:size => "40x40", :border=>0} ) %></a></span>
		
		<span id="clublogo" onmouseover="javascript:Tips.add(this, event);">
		<%= image_tag( @next_event.image, {:size => "40x40", :border=>0}) %>
		</span>
			<% if @next_event.food %> 
				<span id="food" onmouseover="javascript:Tips.add(this, event);">
				<%= image_tag( 'food.png', {:size => "40x40", :border=>0}) %>
				</span>
			<% end %>
			<% if @next_event.hotel %> 
				<span id="hotel" onmouseover="javascript:Tips.add(this, event);">
				<%= image_tag( 'bed.png', {:size => "40x40", :border=>0}) %>
				</span>
			<% end %>
			<% if @next_event.cash %> 
				<span id="cash" onmouseover="javascript:Tips.add(this, event);">
				<%= image_tag( 'cash.png', {:size => "40x40", :border=>0}) %>
				</span>
			<% end %>
		</span> 
		<span id="eventname">Next Event: "<%= h @next_event.evname %>" </span> <span id="eventname">begins in</span> <span id="eventname"><%= h @utc_date %> days!</span>
	</p>
</section>