<%= render(:partial => 'header' ) -%>

<%= render(:partial => 'mainlogo' ) -%>

<%= render(:partial => @next_event_partial ) -%>

<section id="homepage">
	<p>
		<%= link_to(image_tag('home_flagger.png',:border=>0, :class=>'wide1'), {:action=>'flagging'}, {:id=>"mrflagger"}) %>
		<%= link_to(image_tag('home_communicator.png',:border=>0, :class=>'wide2'), {:action=>'comm'}, {:id=>"mrcomm"}) %>
		<%= link_to(image_tag('home_coverage.png',:border=>0, :class=>'wide3'), {:action=>'coverage'}, {:id=>"mrtrack"}) %>
		<%= link_to(image_tag('home_signals.png',:border=>0, :class=>'wide2'), {:action=>'signals'}, {:id=>"mrsignal"}) %>
	</p>
	
	<script type="text/javascript">
		$('mrflagger').addTip( 'Flagging', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded', showOn: 'mouseover', hideOn: 'mouseout', hidetrigger:'tip' });
		$('mrcomm').addTip('Communication', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		$('mrtrack').addTip('Track Coverage', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		$('mrsignal').addTip('Hand Signals', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		$('weather').addTip('7 Day Weather forecast', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		$('cash').addTip('Earn some cash!', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		$('food').addTip('Free food', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		$('hotel').addTip('Help with lodging', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
	</script>
</section>

<%= render(:partial => 'footer')-%>