<%= render 'header' -%>

<%= render 'mainlogo' -%>

<section id="info">
	<!-- create a box to hold the schedule -->
	<div id="tablebox">
		<table id="schedtable" >
			<caption>2012 Schedule of supported events</caption>
			<tr>
				<th>Date</th><th>Host</th><th>Event Name</th><th>Event Type</th><th>Location</th><th>Flag Chief</th>
			</tr>
			<% @events.each do |event| -%>
				<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
					<td><%= h event.evdate.strftime("%m/%d/%Y") %></td>
					<td><%= h event.evhostreg %></td>
					<td><%= h event.evname %></td>
					<td><%= h event.evtype %></td>
					<td><%= h event.evtrack %></td>
					<td><%= h event.evchief %></td>
				</tr>
			<% end %>
		</table>
	</div> <!-- tablebox -->
	<div id="abbreviations">
		SCCA - Sports Car Club of America<br/>
		CDR - Continental Divide Region (Colorado Springs area)<br/>
		COR - Colorado Region (Denver area)<br/>
		Utah - hmmm...where could that be?<br/>
		RMVR - Rocky Mountain Vintage Racing<br/>
		PCA RMR - Porsche Club of America, Rocky Mountain Region<br/>
	</div>
</section>

<%= render 'footer' -%>
