<%= render 'header'-%>

<%= render(:partial => 'signalbuttons') -%>

<section id="info">

	<%= render(:partial => 'sig_color') -%>

	<!-- place a 9 item table to hold images and text content -->
	<div id="handsigtable">
		<table>
			<tr>
				<th></th><th>Worker</th><th></th>
			</tr>
			<tr>
				<!-- the first image is the captain -->
					<td><%= image_tag "handsignals/spacer.idraw.gif" %></td>
				<!-- the second image is a spacer -->
				<td><%= image_tag "handsignals/safetyman.idraw.gif" %></td>
				<!-- the last image is the flagger -->
				<td><%= image_tag "handsignals/spacer.idraw.gif" %></td>
			</tr>
			<tr>
				<td></td>
				<td>
				<ul>
					<li><%= link_to "Request for Color", "sig_color_request" %></li>
					<li><%= link_to "Black", "sig_color_black" %></li>
					<li><%= link_to "Blue", "sig_color_blue" %></li>
					<li><%= link_to "Red", "sig_color_red" %></li>
					<li><%= link_to "Green", "sig_color_green" %></li>
					<li><%= link_to "Yellow", "sig_color_yellow" %></li>
					<li><%= link_to "Brown", "sig_color_brown" %></li>
					<li><%= link_to "White", "sig_color_white" %></li>
				</ul>
				</td>
				<td></td>
			</tr>
		</table>
	</div><!-- handsigtable -->
</section>

<%= render 'footer'-%>